* {
  box-sizing: border-box;
}

body{
	font-family : Verdana, sans-serif;
	font-size : 14px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 0 0 0;
}

header{
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: black;
	color: white;
}

footer{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: black;
	color: white;
	position: relative;
}

input{
	padding: 5px 70px 5px 5px;
}

button{
	padding: 10px 50px 10px 50px;
	background-color: black;
	border-color: darkgray;
	color: white;
}

button:hover{
	background-color: darkgray;
}

nav{
	list-style: none;
	margin : 0;
	padding: 0;
	background-color: black;
	overflow: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

nav > a{
	float: left;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	color: white;
	font-size: 15px;
}

nav > a:hover{
	cursor: pointer;
	color: white;
	background-color: gray;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  margin-top: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.mySlides > img{
	width: 100%;
}

.item-image{
	width: 100px;
	height: 100px;
}

.item{
	border: solid;
	margin: 10px 5px 10px 5px;
	padding: 0px 10px 0px 10px;
}

.item-in-cart, .item-in-history, .item-in-item-list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-style: solid;
	margin: 5px 0px 5px 0px;
}

.item-in-cart, .item-in-history > div, .item-in-item-list > div{
	padding: 5px 50px 5px 5px;
}

.item-in-cart > div > img, .item > div > img, .item-in-item-list > div > img{
	width: 150px;
}

.item-in-item-list{
	margin-left: 10px;
	margin-right: 10px;
}

.item-in-item-list > div > img, {
	width: 150px;
}

.nav-searchbar{
	display: flex;
	align-content: center;
}

.title{
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 20px;
}

.remove-item{
	background-color: darkred;
}

#login-section{
	margin-top: 50px;
	margin-bottom: 100px;
	padding: 25px 50px 25px 50px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	position: relative;
	width: 40%;
	left: 30%;
}

#create-account-form, #add-item-form{
	margin-bottom: 100px;
	padding: 25px 50px 25px 50px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#login-section > div, #create-account-form > div, #add-item-form > div{
	padding-top: 5px;
	padding-bottom: 5px;
}

#search-btn{
	padding: 4px 20px 4px 20px;
}

#popular-items, #search-results{
	border: solid;
	margin: 5px 100px 5px 100px;
}

#popular-item-box, #search-results-item-box{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#search-bar{
	padding: 5px 5px 5px 5px;

}

#who-are-we, #contact-us{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	margin-bottom: 5px;
}

#who-are-we > div{
	padding-left: 50px;
	padding-right: 50px;
}

#who-are-we > div > img{
	width: 100%;
} 

#contact-us > div > img{
	width: 70%;
}

#contact-info{
	padding-top: 60px;
	padding-right: 150px;
}

#history-info{
	width: 70%;
}

#item-info{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 50px;
}

#item-info > div{
	padding: 0px 60px 0px 60px;
}

#quantity-div{
	margin: 30px 0px 30px 0;
}

#quantity-box{
	width: 15%;
	padding-right: 5px;
}

#add-to-cart{
	background-color: darkgreen;
}

#items-in-cart, #item-history, #items-in-item-list{
	display: flex;
	flex-direction: column;
}

#cart-section, #item-history-section, #item-list-section{
	margin-bottom: 50px;
}

#to-checkout{
	background-color: darkgreen;
}

#checkout-section{
	padding: 100px 0px 100px 0px;
}

#checkout-section > div > img{
	width: 30%;
}

#items-in-item-list{
	margin-top: 10px;
}

#add-item-section{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#add-image-container{
	border-style: dotted;
	padding: 100px 100px 100px 100px;
	margin-top: 40px;
}

#add-item-btn-section{
	margin: 40px 0px 40px 0px;
}

#email.formElement, #password.formElement{
	padding-right: 5px;
	width: 50%;
}

#item-image > img{
	width: 200px;
}


@media (max-width: 600px){
	nav{
		display: flex;
	}

	input{
		padding: 5px 70px 20px 5px;
		margin-top: 5px;
	}

	footer{
		bottom: 0px;
		width: 100%;
	}

	.item{
		width: 30%;
	}

	.item-image{
		width: 70px;
		height: 70px;
	}

	.navbar{
		justify-content: space-between;
	}

	.title{
		margin: 20px 0px 20px 0px;
	}

	.item-in-cart, .item-in-history, .item-in-item-list{
		flex-direction: column;
		padding-bottom: 10px;
	}

	.item-in-cart > div, .item-in-history > div, .item-in-item-list > div{
		padding-right: 5px;
	}


	#login-section > div, #create-account-form > div{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#search-bar{
		margin-top: 0px;
	}

	#who-are-we, #contact-us{
		flex-direction: column;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#history-info, #contact-info{
		width: 100%;
		padding: 0px 50px 0px 50px;
	}

	#item-info{
		flex-direction: column;
	}

	#add-item-section{
		flex-direction: column;
	}

	#add-item-form{
		margin-bottom: 0px;
	}
}

@media (min-width: 601px) and (max-width: 990px){
	body{
		font-size : 25px;
	}

	input{
		padding: 15px 10px 10px 10px;
		width: 50%;
	}

	button{
		padding: 20px 50px 20px 50px;
	}

	footer{
		bottom: 0px;
		width: 100%;
	}

	.mySlides > img{
		width: 100%;
	}

	.item-in-cart{
		padding-bottom: 20px;
	}

	.change-availability{
		width: 83%;
		padding: 20px 0px 20px 0px;
	}

	.item-in-item-list{
		padding-bottom: 10px;
	}

	#login-section > div, #create-account-form > div{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#male, #female{
		width: 5%;
		height: 80%;
		border: 0px;
	}

	#who-are-we, #contact-us{
		flex-direction: column;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#history-info, #contact-info{
		width: 100%;
		padding: 0px 50px 0px 50px;
	}

	::placeholder{
		font-size: 20px;
	}

	#add-item-form{
		margin-bottom: 0px;
	}

	#add-item-form > div{
		display: flex;
		flex-direction: column;
	}

	#add-item-form > div > input{
		width: 100%;
	}
}

@media (min-width: 991px){
	footer{
		bottom: 0px;
		width: 100%;
	}

	.mySlides > img{
		width: 60%;
	}

	.prev{
		left: 270px;
	}
	.next{
		right: 270px;
	}
	.numbertext{
		left: 250px;
	}

	#add-item-form{
		padding-top: 90px;
	}

}